<md-dialog flex="50" class="modal-height">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-headline">Edit Grades</span>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" class="modal-overflow">
        <md-content layout="column" md-colors="{background: 'default-grey-A100'}" flex="60">
            <div flex layout="row" layout-margin>
                <span flex="30">Date</span>
                <span flex="30">Subject</span>
                <span flex="30">Grade</span>
                <div flex="10"></div>
            </div>
            <div ng-repeat="grade in grades" flex layout="row" layout-margin>
                <ng-form name="updateForm" layout="row" flex>
                    <span flex="30">{{grade.created | date:'dd/MM/yyyy'}}</span>
                    <span flex="30">{{grade.subject}}</span>
                    <md-input-container flex="30">
                        <input name="score" ng-model="grade.score" required />
                        <div ng-messages="updateForm.score.$error" md-auto-hide="true"
                             ng-if="updateForm.score.$invalid && updateForm.score.$touched">
                            <p ng-message="required">Score is required</p>
                            <p ng-message="pattern">Score must be between 0 to 100</p>
                        </div>
                    </md-input-container>
                    <md-button ng-click="update(grade)" class="md-icon-button" flex="5" ng-disabled="updateForm.$invalid || !updateForm.$dirty">
                        <md-tooltip>Save</md-tooltip>
                        <i class="mdi mdi-content-save mdi-24px"></i>
                    </md-button>
                    <md-button ng-click="delete(grade)" class="md-icon-button" flex="5">
                        <md-tooltip>Delete</md-tooltip>
                        <i class="mdi mdi-delete mdi-24px"></i>
                    </md-button>
                </ng-form>
            </div>
        </md-content>
        <form name="newGradeForm" layout="row" flex="40" layout-margin>
            <md-input-container  flex="30">
                <md-datepicker name="created" ng-model="newGrade.created" class="grades-datepicker" md-hide-icons="calendar" placeholder="Date Of Test" required md-no-asterisk></md-datepicker>
                <div ng-messages="newGradeForm.created.$error" md-auto-hide="true"
                     ng-if="newGradeForm.created.$invalid && newGradeForm.created.$touched">
                    <p ng-message="required">Date is required</p>
                </div>
            </md-input-container>
            <md-input-container flex="30">
                <input name="subject" ng-model="newGrade.subject" placeholder="Subject" required md-no-asterisk/>
                <div ng-messages="newGradeForm.subject.$error" md-auto-hide="true"
                     ng-if="newGradeForm.subject.$invalid && newGradeForm.subject.$touched">
                    <p ng-message="required">Subject is required</p>
                </div>
                <span class="hint hint-subject" ng-click="setSubject(mySubjects[0])">(Your most graded subject is {{mySubjects[0]}})</span>
            </md-input-container>
            <md-input-container flex="30">
                <input name="score" ng-model="newGrade.score" placeholder="Score" ng-pattern="/^([0-9]|[1-8][0-9]|9[0-9]|100)$/" required md-no-asterisk/>
                <div ng-messages="newGradeForm.score.$error" md-auto-hide="true"
                     ng-if="newGradeForm.score.$invalid && newGradeForm.score.$touched">
                    <p ng-message="required">Score is required</p>
                    <p ng-message="pattern">Score must be between 0 to 100</p>
                </div>
            </md-input-container>
            <md-button ng-click="add()" class="md-icon-button" flex="5" ng-disabled="newGradeForm.$invalid">
                <md-tooltip>Add</md-tooltip>
                <i class="mdi mdi-content-save mdi-24px"></i>
            </md-button>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="done()" class="md-primary">Done</md-button>
    </md-dialog-actions>
</md-dialog>