.modal-height {
    max-height: 95%;
    width:150%;
}

.modal-overflow {
    overflow: hidden;
}

.grades-datepicker {
    padding: 0;
}

.md-datepicker-input-container {
    width: 100%;
}

.hint-subject {
    cursor: pointer;
    color: lightgrey;
    font-size: smaller;
    text-decoration: underline;
}