<md-dialog flex="50" class="modal-height">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-headline">Edit Grades</span>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" class="modal-overflow">
        <md-content layout="column" layout-margin md-colors="{background: 'default-grey-A100'}" flex="60">
            <div flex layout="row">
                <span flex="30">Date</span>
                <span flex="30">Subject</span>
                <span flex="30">Grade</span>
                <div flex="5"></div>
                <div flex="5"></div>
            </div>
            <hr>
            <ng-form ng-repeat="grade in grades" name="updateForm" layout="row" layout-align="center center" flex>
                <span flex="30">{{grade.created | date:'dd/MM/yyyy'}}</span>
                <span flex="30">{{grade.subject}}</span>
                <md-input-container flex="30" class="give-margin">
                    <input ng-disabled="!isEditor()"  name="score" ng-model="grade.score" required />
                    <div ng-messages="updateForm.score.$error" md-auto-hide="true"
                         ng-if="updateForm.score.$invalid && updateForm.score.$touched">
                        <p ng-message="required">Score is required</p>
                        <p ng-message="pattern">Score must be between 0 to 100</p>
                    </div>
                </md-input-container>
                <md-button ng-if="isEditor()" ng-click="update(grade)" class="md-icon-button no-margin" flex="5" ng-disabled="updateForm.$invalid || !updateForm.$dirty">
                    <md-tooltip>Save</md-tooltip>
                    <i class="mdi mdi-content-save mdi-24px"></i>
                </md-button>
                <md-button ng-if="isEditor()" ng-click="delete(grade)" class="md-icon-button no-margin" flex="5">
                    <md-tooltip>Delete</md-tooltip>
                    <i class="mdi mdi-delete mdi-24px"></i>
                </md-button>
            </ng-form>
        </md-content>
        <ng-form ng-if="isEditor()" name="addGradeForm" layout="row" flex="40" layout-margin class="add-grade">
            <md-input-container  flex="30">
                <md-datepicker name="created" ng-model="newGrade.created" class="grades-datepicker" md-hide-icons="calendar" placeholder="Date Of Test" required md-no-asterisk></md-datepicker>
                <div ng-messages="addGradeForm.created.$error" md-auto-hide="true"
                     ng-if="addGradeForm.created.$invalid && addGradeForm.created.$touched">
                    <p ng-message="required">Date is required</p>
                </div>
            </md-input-container>
            <md-input-container flex="30">
                <input name="subject" ng-model="newGrade.subject" placeholder="Subject" required md-no-asterisk/>
                <div ng-messages="addGradeForm.subject.$error" md-auto-hide="true"
                     ng-if="addGradeForm.subject.$invalid && addGradeForm.subject.$touched">
                    <p ng-message="required">Subject is required</p>
                </div>
                <span ng-if="mySubjects.length !== 0" class="hint hint-subject" ng-click="setSubject(mySubjects[0])">(Your most graded subject is {{mySubjects[0]}})</span>
            </md-input-container>
            <md-input-container flex="30">
                <input name="score" ng-model="newGrade.score" placeholder="Score" ng-pattern="/^([0-9]|[1-8][0-9]|9[0-9]|100)$/" required md-no-asterisk/>
                <div ng-messages="addGradeForm.score.$error" md-auto-hide="true"
                     ng-if="addGradeForm.score.$invalid && addGradeForm.score.$touched">
                    <p ng-message="required">Score is required</p>
                    <p ng-message="pattern">Score must be between 0 to 100</p>
                </div>
            </md-input-container>
            <md-button ng-if="isEditor()" ng-click="add(addGradeForm)" class="md-icon-button" flex="5" ng-disabled="addGradeForm.$invalid">
                <md-tooltip>Add</md-tooltip>
                <i class="mdi mdi-content-save mdi-24px"></i>
            </md-button>
        </ng-form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="done()" class="md-primary">Done</md-button>
    </md-dialog-actions>
</md-dialog>