<div ng-controller="SidenavController" layout="column" flex class="sidenav">

    <md-toolbar class="md-tall" layout="row" layout-align="start end">
        <div class="md-toolbar-tools" >
            <h2>
                Hello {{user.name.first}} {{user.name.last}}
            </h2>
        </div>
    </md-toolbar>
    <div layout="column" flex>
        <md-list flex>
            <md-list-item ng-repeat="item in menuList" ui-sref-active="md-raised" ui-sref="{{item.state}}"
                          ng-click="toggleMenu()">
                <div layout="row" layout-align="center center">
                    <i class="mdi mdi-{{item.iconClass}}"></i>
                    <span>{{ item.text }}</span>
                </div>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-click="logout()">
                <div layout="row" layout-align="center center">
                    <i class="mdi mdi-logout" flex="25"></i>
                    <span flex>Logout</span>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
