<h1>Teachers Management</h1>

<div>
    <md-content layout="column" flex>
    
            <md-table-container>
    
                <table   md-table md-row-select="options.rowSelection"
                         multiple="{{options.multiSelect}}"
                         ng-model="selected" md-progress="promise">
                    <thead  md-head ng-if="!options.decapitate"  md-order="query.order" md-on-reorder="logOrder" >
                    <tr  md-row >
                        <th md-column >First Name</th>
                        <th md-column >Last Name</th>
                        <th md-column >Role</th>
                    </tr>
                    </thead>

                    <tbody md-body>
                        <tr md-row md-select="teacher" md-select-id="firstName" md-auto-select ng-repeat="teacher in teachers | limitTo: query.limit : (query.page -1) * query.limit">
                            <td  ng-model="teacher.name.first"
                                 md-cell
                                 ng-click="editFirstName($event, teacher)">
                                {{ teacher.name.first }}
                            </td>
                            <td  ng-model="teacher.name.last"
                                 md-cell
                                 ng-click="editLastName($event, teacher)">
                                {{ teacher.name.last }}
                            </td>
                            <td md-cell>
                                <md-input-container>
                                    <md-select ng-model="teacher.role" class="md-no-underline" ng-change="changeRole(teacher)">
                                        <md-option value="viewer">Viewer</md-option>
                                        <md-option value="editor">Editor</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                        </tr>
        
                        </tbody>
                   
                </table>
            </md-table-container>
          
    </md-content>
    </div>
