<div layout="column" layout-margin>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
            <div class="md-toolbar-tools">
                <span>Students</span>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="deleteItems()">
                    <md-icon class="mdi mdi-delete mdi-24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form name="studentFilterForm" layout="row" layout-margin>
            <md-icon>
                <i ng-hide="query.name.first" class="mdi mdi-filter mdi-24px"></i>
                <i ng-hide="!query.name.first" class="mdi mdi-filter-remove mdi-24px filter-remove"
                   ng-click="clearFilter('name.first')"></i>
            </md-icon>
            <md-input-container flex class="input-container-no-spacer">
                <label>First Name</label>
                <input ng-model="query.name.first" ng-change="onFilter()"/>
            </md-input-container>
            <md-icon>
                <i ng-hide="query.name.last" class="mdi mdi-filter mdi-24px"></i>
                <i ng-hide="!query.name.last" class="mdi mdi-filter-remove mdi-24px filter-remove"
                   ng-click="clearFilter('name.last')"></i>
            </md-icon>
            <md-input-container flex class="input-container-no-spacer">
                <label>Last Name</label>
                <input ng-model="query.name.last" ng-change="onFilter()"/>
            </md-input-container>
            <md-icon>
                <i ng-hide="query.class" class="mdi mdi-filter mdi-24px"></i>
                <i ng-hide="!query.class" class="mdi mdi-filter-remove mdi-24px filter-remove"
                   ng-click="clearFilter('class')"></i>
            </md-icon>
            <md-input-container flex class="input-container-no-spacer">
                <label>Class</label>
                <input name="class" ng-model="query.class" ng-change="onFilter()"
                    ng-pattern='/^(\p{L}{1,2}-[1-9][0-9]?)$/'/>
                <div ng-messages="studentFilterForm.class.$error" md-auto-hide="true"
                     ng-if="studentFilterForm.class.$invalid && studentFilterForm.class.$touched">
                    <p ng-message="pattern">Class must be formatted כיתה-מספר</p>
                </div>
            </md-input-container>
        </form>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="deferred">
                <thead md-head md-order="query.order" md-on-reorder="onOrderChange" >
                <tr md-row>
                    <th md-column md-order-by="id">ID</th>
                    <th md-column md-order-by="name.first">First Name</th>
                    <th md-column md-order-by="name.last">Last Name</th>
                    <th md-column md-order-by="class">Class</th>
                    <th md-column md-order-by="gender">Gender</th>
                    <th md-column md-order-by="avgGrade">Average Grade</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in items.docs">
                    <td md-cell>{{ item.id }}</td>
                    <td md-cell ng-click="edit($event, item, 'name.first')">{{ item.name.first }}</td>
                    <td md-cell ng-click="edit($event, item, 'name.last')">{{ item.name.last }}</td>
                    <td md-cell ng-click="edit($event, item, 'class')">{{ item.class }}</td>
                    <td md-cell>
                        <md-input-container>
                            <md-select ng-model="item.gender" class="md-no-underline" ng-change="changeGender(item)">
                                <md-option value="female">Female</md-option>
                                <md-option value="male">Male</md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td md-cell>{{ item.avgGrade }}</td>
                    <td md-cell>
                        <md-button ng-click="editGrades($event, item)" class="md-icon-button">
                            <md-tooltip>Edit Grades</md-tooltip>
                            <i class="mdi mdi-format-list-bulleted mdi-24px"></i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
                md-limit="query.limit"
                md-page="query.page"
                md-total="{{items.total}}"
                md-on-paginate="getItems">
        </md-table-pagination>
    </md-card>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="addItem($event)" aria-label="Add new constraint">
    <i class="mdi mdi-plus mdi-24px"></i>
</md-button>
