<div layout="column" layout-margin>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
            <div class="md-toolbar-tools">
                <span>Teachers Management</span>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
            <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="deleteItems()">
                    <md-icon class="mdi mdi-delete mdi-24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="onOrderChange" >
                    <tr md-row>
                        <th md-column md-order-by="id">ID</th>
                        <th md-column md-order-by="name.first">First Name</th>
                        <th md-column md-order-by="name.last">Last Name</th>
                        <th md-column md-order-by="role">Role</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="id" md-auto-select ng-repeat="item in items.docs">
                        <td md-cell>{{ item.id }}</td>
                        <td md-cell>{{ item.name.first }}</td>
                        <td md-cell>{{ item.name.last }}</td>
                        <td md-cell>
                            <md-input-container>
                                <md-select ng-model="item.role" class="md-no-underline" ng-change="changeRole(item)">
                                    <md-option value="viewer">Viewer</md-option>
                                    <md-option value="editor">Editor</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
                md-limit="query.limit"
                md-page="query.page"
                md-total="{{items.total}}"
                md-on-paginate="getItems">
        </md-table-pagination>
    </md-card>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" layout layout-align="center center"
           ng-click="addItem($event)" aria-label="Add new constraint">
    <i class="mdi mdi-plus mdi-24px"></i>
</md-button>
